<h1 style="text-align: center;">Liste des chien disponibles</h1>

<div class="container-doggy">
  <div class="cards">
    <% @dogs.each do |dog| %>
      <div class="card">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.santevet.com%2Frace%2Fbouvier-bernois&psig=AOvVaw2Xib8fkmiO_icofgNGM8ue&ust=1718271197142000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPjm15bh1YYDFQAAAAAdAAAAABAJ">
          <%= link_to dog.name, dog_path(dog), class: "card-title" %>
        </div>
        <div class="card-description">
          <p><strong>Breed:</strong> <%= dog.breed %></p>
          <p><strong>City:</strong> <%= dog.city %></p>
          <p><strong>Description:</strong> <%= dog.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
