<h1>Historique de reservation</h1>

  <div>
    <% if @bookings.any? %>
    <ul>
      <% @bookings.each do |booking| %>
        <li>Date de la réservation : <%= booking.booking_date %> </li>
        <li>Début de la reservation: <%= booking.start_date %></li>
        <li>Fin de la réservation: <%= booking.end_date %></li>
        <li>nom du chien: <%= booking.dog.name %>
        <% end %>
        </ul>
        <% else %>
        <p> Vous n'avez aucune reservation</p>
      <% end %>

  </div>
