
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.airzen.fr/wp-content/uploads/2022/10/AdobeStock_31232906-scaled-e1666964794987.jpeg);">
  <div class="container">
    <h1>Bienvenue sur <strong>DoggyNb</strong></strong>!</h1>
    <p>Si vous cherchez a faire du traffic de chien, c'est ici !</p>
    <%= link_to "Chercher un chien", "#", class: "btn btn-gradient" %>
    <%= link_to "Louer son chien", "#", class: "btn btn-gradient" %>
  </div>
</div>
